spring:
  application:
    name: sqs-demo

  # ---------------------------------------------------------------------------
  # Kafka
  # ---------------------------------------------------------------------------
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

server:
  port: 8088

cloud:
  aws:
    region:
      static: sa-east-1
    credentials:
      access-key: test
      secret-key: test
    sqs:
      endpoint: http://localhost:4566

app:
  queue:
    name: order-events-queue

kafka:
  topic:
    orders: kafka-orders-received

product:
  api:
    url: http://localhost:1080

sqs:
  batch:
    max-messages-per-poll: 10
    max-concurrent-messages: 20
    poll-timeout-seconds: 20
